%h2 All students

- if students.any?
  #students
    - students.each do |student|
      .student
        %h2= "#{student.id} #{student.first_name} #{student.last_name}"
        %p= student.email
- else
  %p There are no students yet.
